

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Referral System</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-content">
            <a href="templates/home.html" class="home-icon">
                <img src="/static/house-icon.svg" alt="Home">
            </a>
        </div>
    </header>
    <main>
        <section class="button-container">
            <a href="templates/make_referral.html" class="flashy-button">Make referrals</a>
            <a href="templates/check_referral.html" class="flashy-button">Check referrals</a>
            <a href="templates/create_reminder.html" class="flashy-button">Create reminders</a>
            <a href="templates/referral_services.html" class="flashy-button">Check referral services</a>

        </section>
    </main>
    <footer>
        <p>&copy; 2024 Digital Referral System</p>
    </footer>
</body>
</html> 
