<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script>
    function generateID() {
        // Generate a random 8-digit number
        const min = 10000000;
        const max = 99999999;
        const randomID = Math.floor(Math.random() * (max - min + 1)) + min;

        // Set the value of the patient_id field
        document.getElementById('patient_id').value = randomID;
    }
</script>
</head>

 
<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="/static/img/tiba.png" alt="Logo" style="width:100px; height: 150px;">

       <!-- <h1 class="sitename"></h1> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/home" class="active">Home<br></a></li>
          <li><a href="/make_referral">Make Referrals</a></li>
          <li><a href="/check_referral">Check Referrals</a></li>
          <li><a href="/create_reminder">Create Reminders</a></li>
        <!--  <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
         
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="contacts.html">Contacts</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
            <form action="/make_referral_block" method="POST">
                <h3>Make a referral</h3></br></br>
                <div class="mb-3">
                    <label for="patient_id" class="form-label">Patient's ID</label>
                    <input type="text" class="form-control" id="patient_id" name="patient_id" aria-describedby="emailHelp">
                    <button type="button" onclick="generateID()">Generate ID</button><br><br>
                 <!--   <div id="emailHelp" class="form-text">Check from patient's file</div> -->
                </div>
                <div class="mb-3">
                  <label for="patient_id" class="form-label">Clinnical summary and investigations</label>
                  <input type="text" class="form-control" id="clinical_summary" name="clinical_summary" aria-describedby="emailHelp">
              </div>
                <div class="mb-3">
                    <label for="reason" class="form-label">Reason for referral</label>
                    <input type="text" class="form-control" id="reason" name="reason" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="urgency" class="form-label">Urgency</label>
                    <select id="urgency" class="form-select" name="urgency">
                      <option>...</option>
                      <option>very urgent</option>
                      <option>needed in 3 days</option>
                      <option>needed within a week</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="hospital" class="form-label">Choose hospital</label>
                    <select id="hospital" class="form-select" name="hospital">
                      <option>...</option>
                      <option>Jaramogi Teaching & Referal Hospital</option>
                      <option>Moi Teaching & Referal Hospital</option>
                      <option>Kisumu County Referal Hospital</option>
                    </select>
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">Enter today's date</label>
                  <input type="date" class="form-control" id="date" aria-describedby="emailHelp" name="date">
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Enter your name</label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>
               <!--<div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </div>

    </section><!-- /Hero Section -->

  

  </main>

  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename"></strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>